header {
    background-color: goldenrod;
}

main {
    display: grid;
    grid-template-columns: 300px 1fr;
    align-items: start;
    gap: 40px;
    padding: 50px;
}

img {
    width: 250px;
    height: 250px;
}

label {
    display: grid;
    gap: 2px;
}

.builder {
    display: grid;
    gap: 20px;
}

article {
    border: 3px solid rgb(132, 101, 21);
    width: 550px;
    background-color: rgb(221, 221, 205);
    display: grid;
    grid-template-rows: 50px 260px 65px 150px;
    justify-items: center;
    align-content: space-evenly;
    align-items: start;
    padding: 20px;
}

.city-article-text {
    display: grid;
    grid-template-rows: 75px 275px 75px 1fr;
    padding: 20px;
}

.city-image-div {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}

.tropical {
    color: rgb(74, 102, 226);
    background-color: rgb(99, 219, 195);
    border: 3px solid coral;
}

.mediterranean {
    color: rgb(249, 249, 249);
    background-color: rgb(69, 170, 220);
    border: 3px solid rgb(202, 55, 141);
}

.arid {
    color: rgb(91, 114, 45);
    background-color: rgb(215, 173, 115);
    border: 3px solid rgb(226, 103, 32);
    display: grid;
    justify-items: center;
}

.subarctic {
    color: rgb(39, 108, 62);
    background-color: rgb(226, 241, 238);
    border: 3px solid rgb(30, 32, 80);
}

.baroque {
    font-family: 'Berkshire Swash';
    font-size: 1.2em;
    display: grid;
    justify-items: center;
}

.modern {
    font-family: 'Bebas Neue';
    font-size: 1.2em;
    display: grid;
    justify-items: center;
}

.gothic {
    font-family: 'Kaushan Script';
    font-size: 1.2em;
    display: grid;
    justify-items: center;
}

.industrial {
    font-family: 'Aboreto';
    font-size: 1.2em;
    display: grid;
    justify-items: center;
}
